/*-----------------------------------
BEARD OFF CUT OFF

Author: meltmedia
Date: 2013
------------------------------------*/

/*-----------------------------------
Global stuff
------------------------------------*/

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, h2 { font-family: "adelle-1","adelle-2", Times, serif; }

body {
  background: #444;
}

/*-----------------------------------
Clearfix
------------------------------------*/

.clearfix:after, section:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*-----------------------------------
Media Queries
------------------------------------*/

@media only screen 
and (max-width: 900px) {



}