/*-----------------------------------
BEARD OFF STYLES

Author: meltmedia
Date: 2012
------------------------------------*/

/*-----------------------------------
Global stuff
------------------------------------*/

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, h2 { font-family: "adelle-1","adelle-2", Times, serif; }

body {
  background: #000;
}

header {
  background: #000;
  color: #fff;
  text-align: center;
}

section {
  border-bottom: 2px solid #e0edee;
  margin: 0 auto;
  max-width: 2380px;
}

header {
  margin: 0 auto;
  max-width: 2340px;
  padding: 30px 20px;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}

h2 {
  background: #444;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 12px 20px 8px;
  text-align: center;
  text-transform: uppercase;
}

h2 a {
  color: #fff;
  text-decoration: underline;
}

h1 span, h2 span { font-weight: 600; }

#week0 h2, #week13 h2 {
  background: -moz-linear-gradient(left, #341856 0%, #341856 4%, #8e58a4 46%, #8e58a4 58%, #341856 100%);
  background: -webkit-linear-gradient(left, #341856 0%,#341856 4%,#8e58a4 46%,#8e58a4 58%,#341856 100%);
  background: linear-gradient(to right, #341856 0%,#341856 4%,#753d8c 46%,#8e58a4 58%,#8e58a4 100%);
}

#week1 h2, #week14 h2 {
  background: -moz-linear-gradient(left, #b8321b 0%, #b8321b 4%, #de6d23 46%, #de6d23 58%, #b8321b 100%);
  background: -webkit-linear-gradient(left, #b8321b 0%,#b8321b 4%,#de6d23 46%,#de6d23 58%,#b8321b 100%);
  background: linear-gradient(to right, #b8321b 0%,#b8321b 4%,#b8321b 46%,#de6d23 58%,#de6d23 100%);
}

#week2 h2, #week15 h2 {
  background: -moz-linear-gradient(left, #05376f 0%, #05376f 4%, #206ec5 46%, #206ec5 58%, #05376f 100%);
  background: -webkit-linear-gradient(left, #05376f 0%,#05376f 4%,#206ec5 46%,#206ec5 58%,#05376f 100%);
  background: linear-gradient(to right, #05376f 0%,#05376f 4%,#05376f 46%,#206ec5 58%,#206ec5 100%);
}

#week3 h2, #week12 h2 {
  background: -moz-linear-gradient(left, #2e690e 0%, #2e690e 4%, #54a42a 46%, #54a42a 58%, #2e690e 100%);
  background: -webkit-linear-gradient(left, #2e690e 0%,#2e690e 4%,#54a42a 46%,#54a42a 58%,#2e690e 100%);
  background: linear-gradient(to right, #2e690e 0%,#2e690e 4%,#2e690e 46%,#54a42a 58%,#54a42a 100%);
}

#week4 h2, #week16 h2 {
  background: -moz-linear-gradient(left, #af8800 0%, #af8800 4%, #e8b70e 46%, #e8b70e 58%, #af8800 100%);
  background: -webkit-linear-gradient(left, #af8800 0%,#af8800 4%,#e8b70e 46%,#e8b70e 58%,#af8800 100%);
  background: linear-gradient(to right, #af8800 0%,#af8800 4%,#af8800 46%,#e8b70e 58%,#e8b70e 100%);
}

#week5 h2, #week17 h2 {
  background: -moz-linear-gradient(left, #008675 0%, #008675 4%, #00ad97 46%, #00ad97 58%, #008675 100%);
  background: -webkit-linear-gradient(left, #008675 0%,#008675 4%,#00ad97 46%,#00ad97 58%,#008675 100%);
  background: linear-gradient(to right, #008675 0%,#008675 4%,#008675 46%,#00ad97 58%,#00ad97 100%);
}

#week6 h2, #week18 h2 {
  background: -moz-linear-gradient(left, #b23469 0%, #b23469 4%, #ec498d 46%, #ec498d 58%, #b23469 100%);
  background: -webkit-linear-gradient(left, #b23469 0%,#b23469 4%,#ec498d 46%,#ec498d 58%,#b23469 100%);
  background: linear-gradient(to right, #b23469 0%,#b23469 4%,#b23469 46%,#ec498d 58%,#ec498d 100%);
}

#week7 h2, #week19 h2 {
  background: -moz-linear-gradient(left, #56184d 0%, #56184d 4%, #9c4e94 46%, #9c4e94 58%, #56184d 100%);
  background: -webkit-linear-gradient(left, #56184d 0%,#56184d 4%,#9c4e94 46%,#9c4e94 58%,#56184d 100%);
  background: linear-gradient(to right, #56184d 0%,#56184d 4%,#56184d 46%,#9c4e94 58%,#9c4e94 100%);
}

#week9 h2, #week20 h2 {
  background: -moz-linear-gradient(left, #b3590f 0%, #b3590f 4%, #e38015 46%, #e38015 58%, #b3590f 100%);
  background: -webkit-linear-gradient(left, #b3590f 0%,#b3590f 4%,#e38015 46%,#e38015 58%,#b3590f 100%);
  background: linear-gradient(to right, #b3590f 0%,#b3590f 4%,#b3590f 46%,#e38015 58%,#e38015 100%);
}

#week10 h2, #week21 h2 {
  background: -moz-linear-gradient(left, #05696f 0%, #05696f 4%, #20b9c7 46%, #20b9c7 58%, #05696f 100%);
  background: -webkit-linear-gradient(left, #05696f 0%,#05696f 4%,#20b9c7 46%,#20b9c7 58%,#05696f 100%);
  background: linear-gradient(to right, #05696f 0%,#05696f 4%,#05696f 46%,#20b9c7 58%,#20b9c7 100%);
}

#week11 h2 {
  background: -moz-linear-gradient(left, #797959 0%, #797959 4%, #989c72 46%, #989c72 58%, #797959 100%);
  background: -webkit-linear-gradient(left, #797959 0%,#797959 4%,#989c72 46%,#989c72 58%,#797959 100%);
  background: linear-gradient(to right, #797959 0%,#797959 4%,#797959 46%,#989c72 58%,#989c72 100%);
}

p {
  margin: 5px 0;
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
}

/*-----------------------------------
Clearfix
------------------------------------*/

.clearfix:after, section:after, header:after, footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*-----------------------------------
Media Queries
------------------------------------*/

@media only screen 
and (max-width: 900px) {

  header { padding: 20px 20px; }
  h1 { font-size: 28px; }
  h2 { font-size: 16px; }
  p { font-size: 14px; }

}

@media only screen 
and (max-width: 400px) {

  h1 { font-size: 17px; }

  h2 {
    font-size: 13px;
    padding: 6px 20px 7px;
  }

  p { font-size: 11px; }

}