/*-----------------------------------
BEARD OFF STYLES

Author: meltmedia
Date: 2012
------------------------------------*/

/*-----------------------------------
Global stuff
------------------------------------*/

body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1, h2 { font-family: "adelle-1","adelle-2", Times, serif; }

body {
  background: #d3d5cb;
}

h1 span, h2 span { font-weight: 600; }

a { text-decoration: none; }

.btn {
  background: #00ad97;
  border: 1px solid rgba(255,255,255,.4);
  border-radius: 3px;
  box-shadow: 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: block;
  font-size: 22px;
  margin: 20px auto 60px;
  padding: 20px 30px;
  text-align: center;
  width: 200px;
}

.btn:hover {
  background: #119988;
}

/*-----------------------------------
Beard Off Cut Off
------------------------------------*/

.cutoff h2 {
  font-size: 34px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

.cutoff p {
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
  padding-bottom: 25px;
  max-width: 600px;
}

.cutoff p a {
  border-bottom: 1px dotted #444;
  color: #444;
  display: inline-block;
  text-decoration: none;
}

.cutoff-hero {
  padding: 50px 20px 30px;
  text-align: center;
}

.cutoff-logo {
  display: block;
  margin: 30px auto 50px;
  width: 160px;
}

.video-container {
  background: #000;
  padding: 30px;
}

.video {
  margin: 0 auto;
  padding-top: 30px;
  min-width: 300px;
  max-width: 1000px;
}

.video-embed {
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.video-embed iframe, .video-embed object, .video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cutoff-intro {
  background: #797959;
  color: #fff;
  padding: 80px 20px 0;
  position: relative;
}

.beardoff-finalists {
  display: block;
  margin: 30px auto 0;
  max-width: 100%;
}

.social { text-align: center; }

.share {
  background: #87876a;
  border: 1px solid rgba(255,255,255,.25);
  border-radius: 3px;
  box-shadow: 0 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  padding: 8px 10px;
  width: 160px;
}

.share:hover {
  background: #7a7a5e;
  box-shadow: none;
          transform: translate(0,2px);
      -ms-transform: translate(0,2px);
  -webkit-transform: translate(0,2px);
}

/*-----------------------------------
Beard Off History
------------------------------------*/

.beardoff-intro {
  background: #333;
  color: #fff;
  margin-top: -90px;
  padding: 30px 15px;
  position: relative;
  text-align: center;
  z-index: 2;
}

.beardoff-intro p {
  margin: 5px 0;
  font-size: 16px;
}

.week {
  border-bottom: 2px solid #e0edee;
  margin: 0 auto;
  max-width: 2380px;
}

.week img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}

.week h2 {
  background: #444;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 12px 20px 8px;
  text-align: center;
  text-transform: uppercase;
}

.week h2 a {
  color: #fff;
  text-decoration: underline;
}

.purple h2 {
  background: -moz-linear-gradient(left, #341856 0%, #341856 4%, #8e58a4 46%, #8e58a4 58%, #341856 100%);
  background: -webkit-linear-gradient(left, #341856 0%,#341856 4%,#8e58a4 46%,#8e58a4 58%,#341856 100%);
  background: -ms-linear-gradient(left, #341856 0%,#341856 4%,#8e58a4 46%,#8e58a4 58%,#341856 100%);
  background: linear-gradient(left, #341856 0%,#341856 4%,#8e58a4 46%,#8e58a4 58%,#341856 100%);
}

.orange h2 {
  background: -moz-linear-gradient(left, #b8321b 0%, #b8321b 4%, #de6d23 46%, #de6d23 58%, #b8321b 100%);
  background: -webkit-linear-gradient(left, #b8321b 0%,#b8321b 4%,#de6d23 46%,#de6d23 58%,#b8321b 100%);
  background: -ms-linear-gradient(left, #b8321b 0%,#b8321b 4%,#de6d23 46%,#de6d23 58%,#b8321b 100%);
  background: linear-gradient(left, #b8321b 0%,#b8321b 4%,#de6d23 46%,#de6d23 58%,#b8321b 100%);
}

.blue h2 {
  background: -moz-linear-gradient(left, #05376f 0%, #05376f 4%, #206ec5 46%, #206ec5 58%, #05376f 100%);
  background: -webkit-linear-gradient(left, #05376f 0%,#05376f 4%,#206ec5 46%,#206ec5 58%,#05376f 100%);
  background: -ms-linear-gradient(left, #05376f 0%,#05376f 4%,#206ec5 46%,#206ec5 58%,#05376f 100%);
  background: linear-gradient(left, #05376f 0%,#05376f 4%,#206ec5 46%,#206ec5 58%,#05376f 100%);
}

.green h2 {
  background: -moz-linear-gradient(left, #2e690e 0%, #2e690e 4%, #54a42a 46%, #54a42a 58%, #2e690e 100%);
  background: -webkit-linear-gradient(left, #2e690e 0%,#2e690e 4%,#54a42a 46%,#54a42a 58%,#2e690e 100%);
  background: -ms-linear-gradient(left, #2e690e 0%,#2e690e 4%,#54a42a 46%,#54a42a 58%,#2e690e 100%);
  background: linear-gradient(left, #2e690e 0%,#2e690e 4%,#54a42a 46%,#54a42a 58%,#2e690e 100%);
}

.yellow h2 {
  background: -moz-linear-gradient(left, #af8800 0%, #af8800 4%, #e8b70e 46%, #e8b70e 58%, #af8800 100%);
  background: -webkit-linear-gradient(left, #af8800 0%,#af8800 4%,#e8b70e 46%,#e8b70e 58%,#af8800 100%);
  background: -ms-linear-gradient(left, #af8800 0%,#af8800 4%,#e8b70e 46%,#e8b70e 58%,#af8800 100%);
  background: linear-gradient(left, #af8800 0%,#af8800 4%,#e8b70e 46%,#e8b70e 58%,#af8800 100%);
}

.teal h2 {
  background: -moz-linear-gradient(left, #008675 0%, #008675 4%, #00ad97 46%, #00ad97 58%, #008675 100%);
  background: -webkit-linear-gradient(left, #008675 0%,#008675 4%,#00ad97 46%,#00ad97 58%,#008675 100%);
  background: -ms-linear-gradient(left, #008675 0%,#008675 4%,#00ad97 46%,#00ad97 58%,#008675 100%);
  background: linear-gradient(left, #008675 0%,#008675 4%,#00ad97 46%,#00ad97 58%,#008675 100%);
}

.pink h2 {
  background: -moz-linear-gradient(left, #b23469 0%, #b23469 4%, #ec498d 46%, #ec498d 58%, #b23469 100%);
  background: -webkit-linear-gradient(left, #b23469 0%,#b23469 4%,#ec498d 46%,#ec498d 58%,#b23469 100%);
  background: -ms-linear-gradient(left, #b23469 0%,#b23469 4%,#ec498d 46%,#ec498d 58%,#b23469 100%);
  background: linear-gradient(left, #b23469 0%,#b23469 4%,#ec498d 46%,#ec498d 58%,#b23469 100%);
}

.purple2 h2 {
  background: -moz-linear-gradient(left, #56184d 0%, #56184d 4%, #9c4e94 46%, #9c4e94 58%, #56184d 100%);
  background: -webkit-linear-gradient(left, #56184d 0%,#56184d 4%,#9c4e94 46%,#9c4e94 58%,#56184d 100%);
  background: -ms-linear-gradient(left, #56184d 0%,#56184d 4%,#9c4e94 46%,#9c4e94 58%,#56184d 100%);
  background: linear-gradient(left, #56184d 0%,#56184d 4%,#9c4e94 46%,#9c4e94 58%,#56184d 100%);
}

.burnt-orange h2 {
  background: -moz-linear-gradient(left, #b3590f 0%, #b3590f 4%, #e38015 46%, #e38015 58%, #b3590f 100%);
  background: -webkit-linear-gradient(left, #b3590f 0%,#b3590f 4%,#e38015 46%,#e38015 58%,#b3590f 100%);
  background: -ms-linear-gradient(left, #b3590f 0%,#b3590f 4%,#e38015 46%,#e38015 58%,#b3590f 100%);
  background: linear-gradient(left, #b3590f 0%,#b3590f 4%,#e38015 46%,#e38015 58%,#b3590f 100%);
}

.cerulean h2 {
  background: -moz-linear-gradient(left, #05696f 0%, #05696f 4%, #20b9c7 46%, #20b9c7 58%, #05696f 100%);
  background: -webkit-linear-gradient(left, #05696f 0%,#05696f 4%,#20b9c7 46%,#20b9c7 58%,#05696f 100%);
  background: -ms-linear-gradient(left, #05696f 0%,#05696f 4%,#20b9c7 46%,#20b9c7 58%,#05696f 100%);
  background: linear-gradient(left, #05696f 0%,#05696f 4%,#20b9c7 46%,#20b9c7 58%,#05696f 100%);
}

.army h2 {
  background: -moz-linear-gradient(left, #797959 0%, #797959 4%, #989c72 46%, #989c72 58%, #797959 100%);
  background: -webkit-linear-gradient(left, #797959 0%,#797959 4%,#989c72 46%,#989c72 58%,#797959 100%);
  background: -ms-linear-gradient(left, #797959 0%,#797959 4%,#989c72 46%,#989c72 58%,#797959 100%);
  background: linear-gradient(left,  #797959 0%,#797959 4%,#989c72 46%,#989c72 58%,#797959 100%);
}

/*-----------------------------------
Clearfix
------------------------------------*/

.clearfix:after, section:after, header:after, .form-row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*-----------------------------------
Media Queries
------------------------------------*/

@media only screen 
and (max-width: 900px) {

  .beardoff-intro { padding: 20px 20px; }
  .beardoff-intro h1 { font-size: 28px; }
  .beardoff-intro p  { font-size: 14px; }
  .week h2 { font-size: 16px; }

}

@media only screen 
and (max-width: 600px) {

  .cutoff-logo {
    margin: 20px auto 30px;
    width: 100px;
  }

  .cutoff-intro { padding: 40px 20px 0; }

  .cutoff h2 {
    font-size: 26px;
  }

  .cutoff p {
    font-size: 16px;
    line-height: 26px;
  }

  .beardoff-intro { margin-top: -40px; }

}

@media only screen 
and (max-width: 400px) {

  .cutoff-hero { padding-bottom: 10px; }

  .beardoff-intro h1 { font-size: 17px; }
  .beardoff-intro p  { font-size: 12px; }

  .video-container { padding: 15px; }

  .week h2 {
    font-size: 13px;
    padding: 6px 20px 7px;
  }

}